<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    text-align: center;
    color: red;
}

p.date {
    text-align: right;
}

p.main {
    text-align: justify;
}
</style>
</head>
<body>
<h1>Welcome to About Page</h1>

<%= link_to 'Home', root_path %>
</body>
</html>